/*GENERAL CSS*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Hind', sans-serif;
}

img {
  width: 100%;
}

section {
  margin: 0 20px;
  padding: 10px;
}



/* This is the main CSS Grid Container, the grandpappy */
/*You could use grid-column-start: 2; grid-column-end: 5; or just grid-column: 2/5 for shorthand */
/*You could also use span with the shorthand property grid-column: 2/span 3; */
.page-container {
    display: grid;
    grid-template-columns: 169px repeat(3, auto);
    grid-template-rows: 0.3fr 0.8fr repeat(5, auto);
    grid-gap: 0.1em;
}

/* At this resolution we have to do something with the navbar */
@media screen and (max-width: 562px) {

}

/*Spacer for the fixed nav below, it just needs some space*/
.nav-spacer {
  grid-column-start: 1;
}


/* This is the top of the page, where you put the icing and some title stuff */
#cover {
  background: linear-gradient(60deg,#306efe,#003ab7);
  padding: 0 25px;
  margin: 0 20px;
  color: #fff;
  border-radius: 0 0 5px 5px;
  height: 330px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1/1;
}

.title {
  font-size: 4em;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  line-height: 2em;
  margin: 0;
}

.subtitle {
  font-size: 2em;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  line-height: 0.5em;
  margin: 0;
}

/* This is where the cake begins, with strawberries */
#figure {
  grid-row-start: 2;
  grid-column: 2;
}

#intro {
  padding: 20px;
  grid-row: 3 3;
  grid-column: 2;
  /*overflow: auto;*/
}

/* #intro:hover {
  box-shadow: 12px 12px 2px 1px rgba(230, 230, 230, .2);
  -moz-box-shadow: 12px 12px 2px 1px rgba(230, 230, 230, .2);
} */

#grid-features {
  padding: 20px;
  grid-row-start: 4;
  grid-column: 2;
}

section:hover {
  box-shadow: 3px 4px 12px 1px rgba(230, 230, 230, .5);
  -moz-box-shadow: 3px 4px 12px 1px rgba(230, 230, 230, .5);
  transform: translateY(-0.25em);
}

#key-terms {
  grid-column: 2;
  box-shadow: none;
  -moz-box-shadow: none;
  transform: none;

}