
/*THIS NAV IS IN AN INDEPENDANT GRID AND IT TAKES SHIT FROM NOBODY*/
.grid-nav {
  position: fixed;
  min-block-size: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: minmax(46px, 169px);
  grid-template-rows: 1fr repeat(18, .75fr);

}

.grid-nav > a {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 0.2em 0;
  text-align: center;
  text-decoration: none;
}

.grid-nav > a:hover {
  opacity: 0.5;
  color: #003AB8;
  
}

.grid-nav > a:nth-child(odd){
  background: #eee;
  text-align: center;
}

/* This nav button got a big head */
#brand {
  font-size: 1.5em;
  grid-row-start: 1;
  height: 100%;
  background: url(../img/grid-logo.png);
  background-position: left;
  background-size: 100%;
}

#nav-footer {
  grid-row-start: -1; 
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* grid-template-rows: 1fr; */
  color: #2B69F7;
  text-align: center;
  padding: 1em 0;
}

#nav-footer > a:visited {
  color: #000;
}

#nav-footer > a:hover {
  color: #003AB8;
  box-shadow: 0px 4px 12px 1px rgba(230, 230, 230, .4);
  -moz-box-shadow: 0px 4px 12px 1px rgba(230, 230, 230, .4);
  transform: translateY(-0.25em);
}


#git {
  grid-column-start: 1;
  /* grid-row-start: 7; */
}

#linked {
  grid-column-start: 2;
  /* grid-row-start: 7; */
}

#insta {
  grid-column-start: 3;
  /* grid-row-start: 7; */
}

