/*...but wait there is icing on the side...dammit too much sugar */
#figure-side {
  grid-row: 2;
  grid-column: 3;
  font-size: 50px;
  padding: 0 25%;
}

#figure-side a > img {
  height: 50px;
  width: auto;
}

#figure-side > a {
  color: #000;
}

#intro-side {
  grid-row: 3;
  grid-column: 3;
  padding-top: 160px;
}

@media screen and (max-width: 750px) {
  #figure-side, #intro-side {
    display: none;
  }
}
